* {
  padding: 0;
  margin: 0;
}

.bgimg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/couplers-1980x800.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}


.bgimg h2 {
  color: orange;
  position: relative;
  top: 180px;
  left: 1000px;
  font-size: 80px;
}

.about_detail h3 {
  text-align: center;
  color: grey;
  margin-top: 40px;
  font-size: 50px;
  font-weight: 600;
}

.about_detail h2 {
  text-align: center;
  color: orange;
  margin-top: 10px;
  font-size: 60px;
  font-weight: 700;
}

.about_desc {
  display: flex;
  width: 80%;
  margin: 10px auto;
  text-align: justify;
}

